/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: #212259;
  text-decoration: none;
}

a:hover {
  color: #212259;
  text-decoration: none;
}
.google-visualization-orgchart-table tr td.google-visualization-orgchart-node {
  min-width: 120px !important;
  height: 120px;
}
.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  width: 100%;
  height: 32px;
}
.fade {
  opacity: 1;
}
.df {
  display: flex;
}
.positionCSS {
  position: relative;
  width: 100%;
  height: 100%;
}
/* .add {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: -6px;
  cursor: pointer;
  z-index: 100;
}
.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -6px;
  right: -6px;
  cursor: pointer;
  z-index: 100;
} */
/* .google-visualization-orgchart-node-medium {
  width: 120px;
  height: 100px;
} */

input[type="text"] {
  width: 100%;
}
