<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="active nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item">
            <a href="/create" class="nav-link">create</a>
          </li>
          <li class="nav-item">
            <a href="/addNode" class="nav-link">add node</a>
          </li>
          <li class="nav-item">
            <a href="/wedding" class="nav-link">wedding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="divorce()">divorce</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" (click)="deleteNode()">delete</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown" id="navbarNotification">
            <a href="" class="nav-link">
              <!-- <img
                src="../assets/svg/bell.svg"
                width="16"
                height="100"
                alt="Notification"
              /> -->
              <mat-icon matBadge="1" matBadgeColor="warn"
                >notifications</mat-icon
              >
            </a>
            <!-- <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-end show"
              style="width: 250px; height: 400px"
            >
              <div class="item-dropdown">
                <img
                  src="../assets/svg/bell.svg"
                  width="16px"
                  height="16px"
                  alt="avatar"
                />
                <div>
                  Đạt đã mời bạn tham gia 123 Đạt đã mời bạn tham gia 123 Đạt đã
                  mời bạn tham gia 123
                </div>
              </div>
              <div class="item-dropdown">
                <img
                  src="../assets/svg/bell.svg"
                  width="16"
                  height="16"
                  alt=""
                />
                <div>Đạt đã mời bạn tham gia 123</div>
              </div>
            </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="footer">
    <h1>Footer</h1>
  </div>
</div>
