<form>
  <mat-form-field>
    <mat-label>Wedding!</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="inputWedding" />
    <mat-autocomplete #auto (optionSelected)="optionSelectedNode($event)">
      <mat-option *ngFor="let item of filteredData" [value]="item._id">
        <img src="{{ item.image }}" alt="" height="32" />
        &nbsp;&nbsp;{{ item.name }} - {{ item.birthday | date: "YYYY" }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- <button (click)="checkDataNode($event)" [disabled]="!idData">Check</button> -->
  <button class="btn btn-info" (click)="submitWedding($event)">Wedding</button>
</form>
